/*Подлючение шрифтов*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-v29-latin-regular.woff2") format('woff2'),
        url("../fonts/roboto-v29-latin-regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-v29-latin-700.woff2") format('woff2'),
        url("../fonts/roboto-v29-latin-700.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}

/*Обнуление стилей браузеров.
  Значения по умолчанию*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    background: #F5F3F4;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ------------------- */
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Вверхнее меню */
.header {
    position: sticky;
    top: 0;
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar {
    display: flex;
    justify-content: space-around;
    gap: 48px;
}

.header-navbar a {
    line-height: 150%;
    color: rgba(18, 16, 12, 0.7);
}

.header-navbar a:hover {
    color: #000;
}

.header-button-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button-login a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 80px;
    height: 32px;
    background: #12100c;
    font-size: 14px;
    line-height: 143%;
    color: #f9f9f9;
}

/* Контент часть */
.main {
    /* Может менять размеры на макс */
    flex: 1 1 auto;
}

.main>section {
    margin-left: 65px;
    margin-right: 65px;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* Секция приветствия */
.welcome {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.welcome-wrapper {
    padding-top: 129px;
    padding-bottom: 129px;
}

.welcome-wrapper h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #12100c;
}

.welcome-text {
    margin-top: 32px;
    font-size: 23px;
    line-height: 139%;
    color: rgba(18, 16, 12, 0.7);
}

.welcome-button {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.welcome-button a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 160px;
    height: 46px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background: #ffae33;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #12100c;
}

.welcome-button p {
    line-height: 150%;
    color: rgba(18, 16, 12, 0.7);
}

.welcome-logos {
    margin-top: 16px;
    display: flex;
    gap: 28px;
}

/* Секция про упрощение */
.simplification {
    margin-top: 18px;
}

.simplification-text {
    padding-top: 160px;
    padding-bottom: 160px;
}

.simplification-text-bold {
    display: block;
    font-weight: 700;
    font-size: 54px;
    line-height: 118%;
    text-align: center;
    color: #12100c;
}

.simplification-text-cross {
    display: block;
    font-size: 54px;
    line-height: 118%;
    text-decoration: line-through;
    text-align: center;
    color: #999795;
}

/* Секция про предварительную сборку */
.prebuild {
    margin-top: 18px;
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
}

.prebuild-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 155px;
}

.prebuild-text h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #12100c;
}

.prebuild-text p {
    padding-top: 8px;
    font-size: 24px;
    line-height: 133%;
    color: rgba(18, 16, 12, 0.7);
}

.prebuild-buttons {
    display: flex;
    gap: 16px;
}

.prebuild-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    ;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    color: #12100c;
}

.prebuild-btn-more {
    width: 162px;
    height: 32px;
    background: #ffae33;
}

.prebuild-btn-doc {
    width: 146px;
    height: 32px;
    background: #ffb0ae;
}

/* Секция про удаленную разработку */
.remote-gitpod {
    margin-top: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px
}

.remote-gitpod h2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 133%;
    text-align: center;
    color: #12100c;
}

.remote-gitpod-img {
    display: flex;
    justify-content: center;
}

.remote-gitpod-img img {
    padding: 0 21px;
    border-radius: 14px;
    box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.4);
}

.remote-gitpod p {
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.remote-gitpod-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Острые черные углы кнопок */
.remote-gitpod-buttons a {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 177%;
    color: #12100c;
    border: 1px solid #12100c;
}

.remote-gitpod-buttons img {
    margin-right: 10px;
}

.remote-gitpod-wrapper {
    position: relative;
}

.remote-gitpod-btn-chrome {
    width: 207px;
    height: 47px;
}

.remote-gitpod-btn-firefox {
    width: 207px;
    height: 47px;
}

/* Внутренние скругление */
.remote-gitpod-border-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 9px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 1;
}

/* Секция с отзывами */
.reviews {
    margin-top: 179px;
}

.reviews h2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 118%;
    text-align: center;
    color: #12100c;
}

.reviews-wrapper-message {
    margin-top: 48px;
    padding-top: 8px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.reviews-message {
    width: 384px;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
}

.reviews-message p {
    line-height: 150%;
    color: #12100c;
}

.reviews-message-start-text {
    padding-bottom: 8px;
}

.reviews-message-user {
    margin-top: 16px;
    display: flex;
    gap: 12px;
}

.reviews-message-user img {
    width: 48px;
    height: 48px;
}

.reviews-message-user h5 {
    font-weight: 700;
    line-height: 150%;
    color: #12100c;
}

.reviews-message-user p {
    margin-top: 8px;
}

.reviews-logos {
    display: flex;
    justify-content: center;
}

.reviews-wrapper-logos {
    margin: 0 85px;
    padding: 0 16px;
    height: 246px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: end;
    flex-wrap: wrap;
    gap: 24px;
}

/* Секция "Начни сейчас" */
.begin {
    margin-top: 178px;
    padding-bottom: 160px;
}

.begin-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 133%;
    text-align: center;
    color: #12100c;
}

.begin-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.begin-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-top: 56px;
    border-radius: 20px;
    width: 642px;
    height: 651px;
    background: #fff;
}

.begin-connect-start-text h3 {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #12100c;
}

.begin-connect-start-text p {
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.begin-connect-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.begin-connect-buttons button {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 262px;
    height: 46px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    color: #fff;
}

.begin-connect-btn-fox {
    background: #fc6d26;
}

.begin-connect-btn-github {
    background: #000;
}

.begin-connect-btn-bitbucket {
    background: #2684ff;
}

.begin-connect-buttons img {
    margin-left: 33px;
    margin-right: 16px;
}

.begin-connect-end-text p {
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.begin-connect-gitpod {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.begin-connect-gitpod p {
    border-radius: 12px;
    width: 151px;
    height: 31px;
    background: #ffe4bc;
}

.begin-launch {
    padding-top: 56px;
    border-radius: 20px;
    width: 642px;
    height: 651px;
    background: #fff;
}

.begin-launch h3 {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #12100c;
}

.begin-launch>p {
    padding-bottom: 32px;
    font-size: 23px;
    line-height: 139%;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.begin-launch-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 56px;
}

.begin-launch-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #f9f9f9;
    height: 56px;
    padding-left: 16px;
    padding-right: 12px;
}

.begin-launch-img {
    display: flex;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.begin-launch-img img {
    margin-right: 16px;
}

.begin-launch-row button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 143px;
    height: 32px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background: #12100c;
    font-size: 14px;
    line-height: 114%;
    color: #fff;
}

/* Подвал сайта */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
}

.footer-content {
    width: 900px;
    height: 412px;
    padding: 48px 24px 32px 24px;
}

.footer-wrapper {
    margin-bottom: 47px;
    display: flex;
    justify-content: center;
    gap: 171px;
}

.footer-wrapper h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    color: #12100c;
}

.footer-wrapper a {
    font-size: 13px;
    line-height: 150%;
    color: rgba(18, 16, 12, 0.7);
}

.footer-gitpod,
.footer-developer,
.footer-company,
.footer-legal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-gitpod a:hover,
.footer-developer a:hover,
.footer-company a:hover,
.footer-legal a:hover {
    color: #000;
}

.footer-container hr {
    width: 852px;
    border: 1px solid #ece7e5;
}

.footer-logos {
    padding-top: 33px;
    width: 852px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logos-gitpod {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    line-height: 150%;
    color: rgba(18, 16, 12, 0.7);
}

.footer-logos-others {
    display: flex;
    gap: 16px;
}

.footer-cookies {
    padding: 0 16px 0 16px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    color: rgba(18, 16, 12, 0.7);
    background: #ece7e5;
}

.footer-cookies-policy {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(18, 16, 12, 0.59);
}

.footer-cookies-accept {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 163px;
    height: 32px;
    background: #f9f9f9;
    color: rgba(18, 16, 12, 0.7);
}

.footer-cookies-accept:hover {
    color: #000;
}